

/*Reset CSS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


html, body {
height: 100%;
font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;
background: #ffffff;
}
a:hover{
    text-decoration: none;
}
.section-padding{
    padding: 70px;
    font-size: 18px;
}
/* Adding Fonts*/


/* ============================== */
/* NAVBAR FIX – RESPONSIVE MOBILE */
/* ============================== */

.header-nav {
    min-height: 90px;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    padding: 15px 0;
}

.navbar-brand img {
    width: 70px;        /* FIX dari 10% */
    height: auto;
    max-width: 100%;
}

/* Menu Desktop */
.main-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.main-menu ul li {
    margin-left: 15px;   /* FIX dari 26px */
    text-align: center;
}

.main-menu ul li a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.main-menu ul li a:hover {
    color: #FFC107;
}

/* Call to Action Button */
button.nav-button {
    background: #6F2A31;
    color: #E1E1E1;
    font-size: 16px;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

button.nav-button:hover {
    background: #e5a700;
}

/* ============================== */
/* RESPONSIVE – MOBILE VIEW */
/* ============================== */


@media (max-width: 480px) {
       .navbar-brand img {
        display: none;
    }
    

    /* Menu collapse fix */
    .main-menu ul {
        flex-direction: column;
        width: 100%;
    }

    .main-menu ul li {
        margin: 10px 0 !important;  
    }

    /* pastikan container tidak overflow */
    .header-nav, .navbar, body, html {
        overflow-x: hidden !important;
    }
}

/* Header Banner Area Styles */

.container.header-content {
    height: 100% ;
    
}
.highlight{
    color: #6F2A31;
}
.left-content h2 {
    font-family: 'Poppins';
    font-size: 60px;
    font-weight: 500;
    color: #B4A394;
}
.centralize{
    display: flex;
    align-items: center;
}
.left-content p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: #64707D;
}
.call-to-action button {
    background: #6F2A31;
    border: none;
    color: #E1E1E1;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
}
.call-to-action a {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    color: #6F2A31;
    text-decoration: underline;
    margin-left: 30px;
}
.right-content img{
    width: 70%;
    padding-left: 30px;
}

/* Work process syles */

.process-block {
    text-align: center;
    padding: 10px;
}

.process-block img {
    background: #FBF5E5;
    border: 2px dotted #6F2A31;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.process-block p {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
}

.process-block h3 {
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 500;
}
.produk-discussion{
    margin-left: 30px;
}
.produk-discussion h2 {
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 500;
    color: #B4A394;}

.produk-discussion p {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 35px;
    color: #64707D;}

.produk-discussion button {
    background: #6F2A31;
    border: none;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
}

/* Services styles  */
.services{
    background: linear-gradient(30deg, #FBF1D5, #fff);
}
.service-heading {
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 500;
    color: #B4A394;
}

/* Multiframe Carousel  */

@media (min-width: 768px) {

    .service-carousel.carousel-inner .carousel-item-right.active,
    .service-carousel.carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }

    .service-carousel.carousel-inner .carousel-item-left.active,
    .service-carousel.carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
}

/* large - display 3 */
@media (min-width: 992px) {

    .service-carousel.carousel-inner .carousel-item-right.active,
    .service-carousel.carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .service-carousel.carousel-inner .carousel-item-left.active,
    .service-carousel.carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }
}

@media (max-width: 768px) {
    .service-carousel.carousel-inner .carousel-item>div {
        display: none;
    }

    .service-carousel.carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

 .carousel-inner .carousel-item.active,
 .carousel-inner .carousel-item-next,
 .carousel-inner .carousel-item-prev {
    display: flex;
}

 .carousel-inner .carousel-item-right,
 .carousel-inner .carousel-item-left {
    transform: translateX(0);
}
.service-card h5{
	font-family:'Poppins';
	font-size:26px;
	font-weight:500;
	color:#B4A394;
}
.service-card p{
	font-family:'Poppins';
	font-size:18px;
	color:#64707D;
}
.service-card a{
	color:#64707D;
	font-family:'Poppins';
	font-size:18px;
	font-weight:500;
	color:#64707D;
	text-decoration:underline;
}
.service-card a:hover{
	color:#6F2A31;
	transition:all 0.5s ease;
}
.service-control-prev, .service-control-next {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: #6F2A31;
    background-size: 100%, 100%;
    border-radius: 3px;
}
.service-control-next {
    margin-right: -105px;
}

.service-control-prev {
    margin-left: -205px;
}
.service-card {
    min-height: 495px;
}

/* Testimonial Styles  */
.testimonial .card{
    border: none !important;
}

a.carousel-control-prev.testimonial-control {
    top: 60%;
}

a.carousel-control-next.testimonial-control {
    top: 60%;
    left: 5%;
}
.testimonial-control{
    max-width: 32px;
}
.testimonial-description h3 {
	font-family: 'Poppins';
	font-size: 45px;
	font-weight: 500;
	color: #6F2A31;
    }


.testimonial-control-icon {
	background: #6F2A31;
	color: #B4A394;
	height: 32px;
    width: 32px;
    padding:5px;
}
.client-meta-data h5 {
	font-family: 'Poppins';
	font-size: 24px;
	font-weight: 500;
	color: #B4A394;
	}


.client-meta-data p {
	font-family: 'Rubik','Poppins';
	font-size: 16px;
	font-style: italic;
	line-height:32px
	}
.coma{
    position: absolute;
    top: 70%;
    left: -10%;
    background: orange;
    padding: 20px;
}

/* Portfolio Styles  */

.portfolio{
    background: linear-gradient(-40deg, #FBF1D5, #fff);
}
 h2.portfolio-heading{
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 500;
    color: #B4A394;
}
.portfolio-buttons button {
    background: transparent;
    border: none;
    padding: 5px 10px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    color: #B4A394;
}

.portfolio-buttons button:hover {
    color: #6F2A31;
}

.portfolio-buttons {
    margin-bottom: 20px;
}
.myMixCont{
    margin-top: 30px;
}
.myMixCont img{
    margin-bottom: 10px;
}
/* Partner Section Styles  */

.partner-heading {
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 500;
    color: #B4A394;
}

/* Footer Styles */

.footer{
    background: linear-gradient(30deg, #FBF1D5, #fff);
}
section.footer.section-padding {
    padding-bottom: 10px;
}
.footer-widget-1 p {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 35px;
    margin-top: 20px;
    text-align: left;
}
.footer-widget-1 img {
    width: 70px;        /* FIX dari 10% */
    height: auto;
    max-width: 100%;
}
.footer-widget-2 h3,.footer-widget-3 h3 {font-family: 'Poppins';font-size: 26px;font-weight: 500;line-height: 35px;}

.footer-widget-2 ul li,.footer-widget-3 ul li {
    list-style: none;
    padding: 5px;
}

.footer-widget-2 ul li a,.footer-widget-3 ul li a {
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 40px;
    color: #64707D;
}
.footer-widget-4 p{
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.footer-widget-4 ul li{
    list-style-type: none;
    display: inline;
    padding: 5px 10px;
    font-size: 27px;
}
.footer-widget-4 ul li a {
    color: #DDDDDD;
}

.footer-widget-4 ul li a:hover {
    color: #6F2A31;
    transition: all 0.5s ease-in-out;
}
.copyright-text p {font-family: 'Poppins';font-size: 12px;font-weight: 400;color: #64707D;line-height: 40px;}
.messenger i {
    color: #fff;
    background: #6F2A31;
    font-size: 40px;
    padding: 5px 10px;
}
/* Contact Us Styling  */

.contact-header{
    max-height: 500px;
}
.contact-header .right-content img{
    width: 100% !important;
}
.contact-header .container.header-content{
    max-height: 400px;
}

/* Office Blocs Styleing  */

.office-block {
    padding: 15px;
    border: 2px dotted #6F2A31;
    text-align: center;
}

.office-block h3 {font-family: 'Poppins';font-weight: 500;font-size: 35px;line-height: 32px;color: #B4A394;padding: 25px 0px;}

.office-block p {font-family: 'Poppins';font-size: 18px;line-height: 35px;color: #64707D;}

#produk-details form {
    background-color: white;
    color: #888888;
    text-align: left;
    padding-top: 20px;
  }
  
  #produk-details label {
    display: none;
  }
  
  #produk-details input,
  #produk-details  textarea {
    /* to create space for placing icon*/
    padding: 20px 10px 20px 32px;
    border-color: transparent;
    /* background-color: #FFDE11; */
    border-radius: 4px;
    border: 1px solid #DDDDDD;
  }
  
  #produk-details .btn-default {
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 15px 36px;
    background-color: #6F2A31;
    border: 0px;
    color: #B4A394;
    width: 100%;
    border-radius: 5px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
  }
  
  #produk-details .btn-default:hover,
  #produk-details .btn-default:focus {
    border-color: transparent;
    outline: 0px auto -webkit-focus-ring-color;
  }
  
  /*position should be relative and z-index greater than one*/
  #produk-details .icon {
    position: relative;
    float: right;
    padding-right: 10px;
    margin-top: -30px;
    z-index: 2;
    color: #586794;
  }
  
  #produk-details .icon-textarea {
    float: right;
    margin-top: -150px;
    padding-right: 10px;
    position: relative;
    z-index: 2;
    color: #586794;
  }
  #produk-type{
    width: 100%;
    font-family: 'Poppins';
    font-size: 18px;
    color: #64707D;
    border: 1px solid #ddd;
    padding:7px 10px 7px 32px;
  }

  /* Service Page Styles  */

/*   
section.services {
    text-align: center;
}
.card-row-gap {
    padding-bottom: 2rem;
}
.card-body{
background-color: #ffebef;

}
a.card-body{
    text-decoration: underline;
}
.best-solution img{
	width:100%;
	height:auto;
}

/* why choose leadsbee 

.service-type-gap {
 padding-bottom: 8rem;
}
h2.col-md-6 {
    padding-bottom: 3rem;
    padding-top: 2rem;
} */
.feature-design-image {
    margin-bottom: 25px;
	    display: flex;
    justify-content: center;
}
section.header.contact-header {
    padding-bottom: 50px;
}
.card.service-block-card img {
    width: 100%;
    height: auto;
}

.card.service-block-card {
    min-height: 450px;
    margin-bottom: 20px;
}
.why-choose img {
    margin-bottom: 25px;
}

.why-choose {
    padding-bottom: 30px;
}
/* Blog Page Styles  */
.blog-post {
    border: 1px solid #DDDDDD;
    padding: 15px;
}
.blog-category p {
	font-family: 'Poppins';
	font-size: 14px;
	color: #6F2A31;
	line-height: 35px;
	}

.blog-content h2.blog-title {
	font-family: 'Poppins';
	font-size: 26px;
	font-weight: 500;
	color: #6F2A31;
	line-height: 35px;
	}

.blog-content p.blog-exercpt {
	font-family: 'Poppins';
	font-size: 18px;
	line-height: 35px;
	color: #64707D;
	}

.blog-meta h3 {
	font-family: 'Poppins';
	font-size: 18px;
	font-weight: 400;
	color: #B4A394;
	}

.blog-meta p.date {
	font-family: 'Poppins';
	font-size: 12px;
	line-height: 35px;
	color: #64707D;
	}
	
.pagination ul li {
    list-style: none;
    display: inline;
    border: 1px solid #ddd;
    padding: 10px;
}
.pagination ul li a {
	font-family: 'Poppins';
	font-size: 18px;
	color: #64707D;
	}

.pagination ul li.previous{
	background:#ddd;
}
.pagination ul li.previous a,.pagination ul li.next a{
	color:#B4A394 !important;
}
.pagination ul li.next{
	background:#6F2A31;
}
p.sub-heading {font-family: 'Poppins';font-size: 20px;line-height: 35px;color: #B4A394;padding-top: 20px;}

form#newsletter-form input#client-mail {
    max-width: 500px;
    border: 1px solid #6F2A31;
    border-radius: 3px;
}

form#newsletter-form button,.team-counter button {
    background: #6F2A31;
    border: none;
    padding: 5px 12px;
    font-family: 'Poppins';
    font-size: 18px;
    color: #B4A394;
}

/* Portfolio Page Styles */

/* --- Portfolio Block --- */
.portfolio-block {
    position: relative;
    margin-bottom: 20px;
    border: 2px solid red; /* perbaikan typo */
    overflow: hidden;
    border-radius: 5px;
}

/* --- Overlay --- */
.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #B4A394;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding: 15px;
    text-align: center;
}

.portfolio-block:hover .portfolio-overlay {
    opacity: 0.95;
}

/* --- Text Styling --- */
.portfolio-overlay h3 {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    color: #6F2A31;
    margin-bottom: 5px;
}

.portfolio-overlay p {
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
}


section.portfolio-call-to-action {
    background: #FFEEBF;
    text-align: center;
}

section.portfolio-call-to-action h2 {
	font-family: 'Poppins';
	font-size: 45px;
	font-weight: 500;
	line-height: 55px;
	color: #B4A394;
	}
	
button.produk-button-1,button.produk-button-2 {
    border: none;
    padding: 10px 15px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    color: #B4A394;
	margin-right:15px;
}
button.produk-button-1{
	background:#6F2A31;
}
button.produk-button-2{
	background:#fff;
}


/* Team Page Styles  */

.team-page-description h2 {font-family: 'Poppins';font-size: 45px;font-weight: 500;color: #B4A394;line-height: 32px;padding-bottom: 25px;}

.team-page-description p {
    font-family: 'Poppins';
    font-size: 18px;
    /* font-weight: 500; */
    color: #B4A394;
    line-height: 35px;
    padding-bottom: 25px;
}
.team-card {
    margin-bottom: 40px;
}
.team-card h3 {font-family: 'Poppins';font-size: 26px;font-weight: 500;color: #B4A394;padding: 5px;}

.team-card p {font-family: 'Poppins';font-size: 14px;color: #64707D;}

.team-card ul li {
    list-style: none;
    display: inline;
    padding: 5px 10px;
}

.team-card ul li a {
    color: #E1E1E1;
    font-size: 16px;
}

.team-card ul li a:hover {
    color: #6F2A31;
    transition: all 0.5s;
}

span.counter {font-family: 'Poppins';font-size: 45px;color: #B4A394;}

span.counter-plus {
    font-family: 'Poppins';
    font-size: 45px;
    color: #6F2A31;
}